<!-- Mustache template row -->
<script id="template-table-municipality" type="template/text">
    {% verbatim %}
        {{#rows}}
            <tr id="js-table-municipality-row-{{id}}">
                <td>{{id}}<td>
                <td>{{name}}<td>
                <td>{{latitude}}<td>
                <td>{{longitude}}<td>
                <td>
                    <button class="btn float-end js-trigger-delete-municipality" title="Borrar municipio"
                        data-municipality-name="{{name}}" data-municipality-id="{{id}}" >
                        <i class="fa-solid fa-trash" data-municipality-name="{{name}}" data-municipality-id="{{id}}"></i>
                    </button>
                </td>
                <td></td>
            </tr>
        {{/rows}}
    {% endverbatim %}
</script>

<!-- Mustache template error loading -->
<script id="template-table-municipality-error" type="x-tmpl-mustache">
    {% verbatim %}
        <tr>
            <td colspan="5" class="pt-5 border-0 text-center text-dark">
                <span>Se ha producido un error</span>
            </td>
        </tr>
    {% endverbatim %}
    </script>
